/* Scoped styles for the Footer component */
.footer {
    background-color: #f4eee5;
    font-family: Inter, sans-serif;
    position: relative;
}

.container {
    padding: 60px 100px;
}

.containerfluid {
    padding: 60px 0;
}

.footerContactInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.contactInfoItems {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 250px;
    padding: 20px;
    transition: transform 0.3s ease;
    border-bottom: 1px solid rgba(56, 84, 105, 0.2);
}

.contactInfoItems:hover {
    transform: translateY(-5px);
}

.icon {
    margin-right: 15px;
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.icon::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-repeat: no-repeat;
    border: 2px solid #F39F5F;
    background-size: cover;
    border-radius: 20%;
    animation: cir36 10s linear infinite;
    z-index: 1;
}

.icon svg {
    position: relative;
    z-index: 2;
    width: 30px;
    height: 30px;
}

@keyframes cir36 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.content p {
    font-size: 16px;
    color: #385469;
    margin-bottom: 5px;
}

.content h3 {
    font-size: 24px;
    font-weight: 600;
    color: #385469;
}

.content h3 a {
    color: #385469;
    text-decoration: none;
    transition: color 0.3s ease;
}

.content h3 a:hover {
    color: #F39F5F;
}

.footerTop img {
    margin-top: -220px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .footerContactInfo {
        flex-direction: column;
        align-items: center;
    }

    .contactInfoItems {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .content p {
        font-size: 12px;
    }

    .content h3 {
        font-size: 16px;
    }

    .icon svg {
        width: 24px;
        height: 24px;
    }
}

.footerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.footerWidget {
    color: #385469;
}

.widgetHeader {
    margin-bottom: 20px;
    border-image: linear-gradient(90deg, #f39f5f 4.85%, rgba(201, 203, 223, 0) 96.39%);
    border-bottom: 2px solid transparent;
    border-image-slice: 2;
}

.widgetHeader img {
    max-width: 100%;
    height: auto;
}

.widgetHeader h3 {
    font-size: 22px;
    font-weight: 600;
    color: #385469;
}

.widgetContent p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    color: #666;
    margin-bottom: 20px;
}

.socialLinks {
    display: flex;
    gap: 12px;
}

.socialLinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    color: #385469;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    text-align: center;
    background-color: transparent;
    border: 1px solid rgba(56, 84, 105, 0.2);
}

.socialLinks a:hover {
    background-color: #f39f5f;
    color: #fafafa;
}

.socialLinks .socialLinksIcon {
    font-size: 16px;
}

.linkList {
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    font-weight: 500;
}

.linkList li {
    margin-bottom: 10px;
}

.linkList a {
    display: flex;
    align-items: center;
    color: #385469;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.linkList a i {
    margin-right: 8px;
    font-size: 14px;
    color: #385469;
}

.linkList a:hover {
    color: var(--primary-color);
}

.recentPosts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    display: flex;
    gap: 12px;
    align-items: center;
}

.post img {
    width: 78px;
    height: 79px;
    object-fit: cover;
    border-radius: 6px;
}

.postContent {
}

.postDate {
    display: block;
    font-size: 16px;
    color: #f39f5f;
    margin-bottom: 5px;
}

.postDate i {
    margin-right: 5px;
}

.postContent h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    margin: 0;
}

.postContent a {
    color: #385469;
    text-decoration: none;
}

.postContent a:hover {
    color: var(--primary-color);
}

@media (max-width: 1024px) {
    .footerGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footerGrid {
        grid-template-columns: 1fr;
    }
}

[data-aos] {
    transition: all 0.8s ease-in-out;
}

.bottomFooter img {
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: -100px;
    margin-left: -150px;
}

.footerTop {
    position: absolute;
    top: 56%;
    left: 1%;
    animation: rounded 5s linear infinite;
}

.zebra {
    position: absolute;
    top: 35%;
    right: 0;
    animation: rounded 5s linear infinite;
}

@keyframes rounded {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}