/* Scoped styles for the Home component */
.root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    min-height: 100vh;
}

html, body {
    height: auto;
    min-height: 100vh;
    overflowX: hidden;
    margin: 0;
    padding: 0;
}